<div class="emp-profile">
  <div class="create-profile"><a class="btn btn-primary btn-lg" href="#createProfile" role="button">Create Profile</a></div>
  <div class="view-profile"><a class="btn btn-primary btn-lg" href="#viewProfile" role="button">View Profile</a></div>
</div>
