<div class="container emp-data-page">
    <!-- serach area -->
    <div class="row top-header">
        <div class="col-md-2">
            <img class="logo" src="./images/logo.png" />
        </div>
        <div class="col-md-5">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
            </div><!-- /input-group -->

        </div>
        <div class="col-md-5">
          <select class="form-control">
            <option value="all">ALL</option>
            <option value="interface-developer">Interface Developer</option>
            <option value="Quality-assurance">Quality Assurance</option>
          </select>
        </div>
    </div>
    <!-- search area end -->

    <!-- Empoyee data table title -->
    <div class="row emp-data-title hidden-xs">
      <div class="col-md-2">
        <div class="emp-table-title">
          <p> Name </p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="emp-table-title">
          <p> Designation </p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="emp-table-title">
          <p> Technical Skills </p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="emp-table-title">
          <p> Employee ID </p>
        </div>
      </div>

      <div class="col-md-2">
        <div class="emp-table-title">
          <p> Employee Contact </p>
        </div>
      </div>

      <div class="col-md-2">
        <div class="emp-table-title">
          <p> Download Resume </p>
        </div>
      </div>

    </div>
    <!-- Empoyee data table title end here-->

    <!-- Employee data table -->
    <div class="row emp-data-box">
        <div class="col-md-2">
          <div class="emp-data">
            <img class="emp-img" src="./images/emp.png" />
            <div class="emp-info">
              <label class="emp-name">Rajeev Sharma</label>
            </div>

          </div>

        </div>
        <div class="col-md-2">

          <div class="emp-data">
            <div class="emp-info">
              <label class="emp-designation">Designation------</label>

            </div>

          </div>

        </div>
        <div class="col-md-2">

          <div class="emp-data">
            <div class="emp-info">
              <label class="emp-skill">JaveScript</label>
              <label class="emp-skill">HTML5</label>
              <label class="emp-skill">CSS3</label>
              <label class="emp-skill">Bootstrap</label>
              <label class="emp-skill">Grunt</label>
              <label class="emp-skill">Gulp</label>
              <label class="emp-skill">SASS</label>
              <label class="emp-skill">LESS</label>
              <label class="emp-skill">GIT</label>
            </div>

          </div>

        </div>
        <div class="col-md-2">

          <div class="emp-data">
            <div class="emp-info">
              E-mail ID: <label class="emp-email-id">rajeev.sharma@digitaslbi.com</label>
              Skype ID: <label class="emp-skype-id">rajeev.sharma2812</label>
            </div>

          </div>

        </div>
        <div class="col-md-2">

          <div class="emp-data">
            <div class="emp-info">
              <label class="emp-contact">9762282437</label>
            </div>

          </div>

        </div>

        <div class="col-md-2">

          <div class="emp-data">
            <div class="emp-info">
              <label>-----</label>
            </div>

          </div>

        </div>

    </div>

    <div class="row emp-data-box">
        <div class="col-md-2">
          <div class="emp-data">
            <img class="emp-img" src="./images/emp2.png" />
            <div class="emp-info">
              <label>Emp2</label>
            </div>

          </div>

        </div>
        <div class="col-md-2">
          <div class="emp-data">
            <div class="emp-info">
              <label>Designation------</label>

            </div>

          </div>

        </div>
        <div class="col-md-2">
          <div class="emp-data">
            <div class="emp-info">
              <label>JaveScript</label>
              <label>HTML5</label>
              <label>CSS3</label>
              <label>Bootstrap</label>
              <label>Grunt</label>
              <label>Gulp</label>
              <label>SASS</label>
              <label>LESS</label>
              <label>GIT</label>
            </div>

          </div>

        </div>
        <div class="col-md-2">
          <div class="emp-data">
            <div class="emp-info">
              E-mail ID: <label>rajeev.sharma@digitaslbi.com</label>
              Skype ID: <label>rajeev.sharma2812</label>
            </div>

          </div>

        </div>
        <div class="col-md-2">
          <div class="emp-data">
            <div class="emp-info">
              <label>9762282437</label>
            </div>

          </div>

        </div>

        <div class="col-md-2">
          <div class="emp-data">
            <div class="emp-info">
              <label>-----</label>
            </div>

          </div>

    </div>
    <!-- Employee data table end here -->
</div>
