.emp-data-page{
  .top-header, .emp-data-box, .emp-data-title{
    padding: 20px 0;
  }
  .top-header{
    border-bottom: 1px solid #eee;
    .logo{
      max-width: 70px;
    }
  }
  .emp-data-title{
    .emp-table-title{
      font-weight: 700;
      text-decoration: underline;
      //text-align: center;
    }
  }

  .emp-data-box{
    .emp-data{
      //text-align: center;
      img{
        width: 100px;
      }
    }
  }

}
